*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

 /* html scroll behavior */
 html{
    scroll-behavior: smooth;
 }


/* hoome about skills contact bars  */

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.2);
    position: sticky;
    top: 0px;
}
.main ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;    
}

ul li a{
    font-family: century;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    transition: all 1s ease;
}

ul li a:hover{
    background-color: #fff;
    color: black;
    box-shadow: 0px 0px 20px 0px;
    /* border-radius: 50px; */
    margin: 20px;
}




/* HOME SECTION  */

#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center; 
    align-items: center;
    color: #fff;
}

#home::before{
    content: " ";
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url(https://media.istockphoto.com/id/675715346/photo/top-view-of-pitch-black-office-desk-with-computer-and-supplies.jpg?s=612x612&w=0&k=20&c=fD_bdYEUZw6_loKQtBvhHSgVTSaLQb8PooY-2h0_WMo=);
    /* background-image: url(https://images.unsplash.com/photo-1479030160180-b1860951d696?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60) ;  */
    /* background-repeat:  no-repeat; */
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
   height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}




.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    /* position: absolute;
    top: 100%;
    left: 10%; */
}

.introduction h1{
    font-family: sans-serif;
    font-weight: bold;
    padding: 25px;
    font-size: 50px;
    text-shadow: 0px 0px 0px 0.9px;
    color: #fff;
}

.introduction em{
    color: red;
    transition: 1s ease;
}

em:hover{
    color: purple;
}


.hommie{
    display: flex;
    flex-direction: column;
    /* border: 1px solid   #fff; */
    align-items: center;


}



.name{
      font-family: century;
      font-size: 3rem;
      align-items: center;
      margin: 40px 0px;
}


.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    outline: none;
    transition: 1s ease;

}

.btn:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
    box-shadow: 0px 0px 30px white ;
}


/* about section  */

#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 50px;
    /* background-color: black;
    color: #fff; */

}
/* 
#about h1{
    text-align: center;
} */

#pic{
    display: flex;
}


#pic img{
    width: 575px;
    height: 400px;
}

.intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 20px;

}

.intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 25px;
    /* margin: 40px; */
}
/* .header{
    text-align: center;

} */

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    cursor: pointer;
    margin: 25px;
}

.gallery img{
    width: 350px;
    height: 250px;
    margin: 25px;
}


/* services section  */
#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 20px;

}

.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient( to top, rgb(255,45,45) 50%, #fff 50% );
    background-size: 100% 200%;
    transition: all 1s ease;
}

.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0px 0px 20px rgb(255,45,45);
}

.box img{
    width: 60px;
    height: 60px;
    justify-content: space-around;
    margin-top: 90px;
}

/* contact section  */

#contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.input{
     padding: 12px;
     margin: 15px;
     width: 30%;
     border: none;
     outline: none;
}

#msg{
    display: flex;
    text-align:start;
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

#send{
    padding: 10px;
    width: 5%;
    margin: 40px;
    border: none;
    outline: none;
}

#send:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px #fff;
}




.icons{
    display: inline-block;
    /* flex-direction: column; */
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 3em;
    padding: 25px;
    
    
    
}
.icons a{
    color: white;
    padding: 25px;
    
}
